.DS_Store
*.aux
*.fls
*.log
*.out
*.gz
*.fdb_latexmk
*.toc
/src/RTB/Documentazione Esterna/build
/src/RTB/Documentazione Interna/Verbali Interni/build
/src/RTB/Documentazione Esterna/Verbali Esterni/build
src/RTB/Documentazione Esterna/Piano_di_Qualifica_v0.4.pdf
/src/RTB/Documentazione Interna/build
/src/PB/Documentazione Interna/build
/src/PB/Documentazione Esterna/build


*.md
/src/RTB/build
*.omc
*.lof
*.lot
src/PB/Documentazione Esterna/Manuale_Cliente_v0.4.pdf
src/PB/Documentazione Esterna/Manuale_Operatore_v0.1.pdf
src/PB/Documentazione Esterna/Verbali Esterni/build/Verbale_esterno_2026-04-08.pdf
src/PB/Documentazione Esterna/Verbali Esterni/build/Verbale_collaudo_2026-04-08.pdf
