.DS_Store
*.aux
*.fls
*.log
*.out
*.gz
*.fdb_latexmk
*.toc
/src/RTB/Documentazione Esterna/build
/src/RTB/Documentazione Interna/Verbali Interni/build
/src/RTB/Documentazione Esterna/Verbali Esterni/build
